# Dependencies
node_modules/
vendor/

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/

# System
.DS_Store
Thumbs.db

# Build
dist/
build/
storage/
bootstrap/cache/
public/storage
public/uploads/
*.log
error_log
