APP_NAME="DocQR"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://api.tu-dominio.com
FRONTEND_URL=https://app.tu-dominio.com
APP_TIMEZONE=America/Lima
APP_LOCALE=es
APP_FALLBACK_LOCALE=es
APP_FAKER_LOCALE=es_PE

LOG_CHANNEL=daily
LOG_LEVEL=error

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=docqr_production
DB_USERNAME=docqr_user
DB_PASSWORD=colocar_password_seguro

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_SECURE_COOKIE=true
SESSION_SAME_SITE=lax

SANCTUM_STATEFUL_DOMAINS=app.tu-dominio.com,www.app.tu-dominio.com

MAIL_MAILER=smtp
MAIL_HOST=smtp.tu-proveedor.com
MAIL_PORT=587
MAIL_USERNAME=usuario_smtp
MAIL_PASSWORD=colocar_password_smtp
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="noreply@tu-dominio.com"
MAIL_FROM_NAME="${APP_NAME}"

MAX_FILE_SIZE=500
ALLOWED_EXTENSIONS=pdf
ALLOWED_MIME_TYPES=application/pdf
